<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.common.Refactoring">
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.moveeattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.moveeattribute.RefactoringGuiHandler" id="MoveEAttribute" menulabel="move" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameepackage.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameepackage.RefactoringGuiHandler" id="RenameEPackage" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeclass.RefactoringGuiHandler" id="RenameEClass" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameedatatype.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameedatatype.RefactoringGuiHandler" id="RenameEDataType" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeenumliteral.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeenumliteral.RefactoringGuiHandler" id="RenameEEnumLiteral" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeattribute.RefactoringGuiHandler" id="RenameEAttribute" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameereference.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameereference.RefactoringGuiHandler" id="RenameEReference" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeoperation.RefactoringGuiHandler" id="RenameEOperation" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeparameter.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeparameter.RefactoringGuiHandler" id="RenameEParameter" menulabel="rename" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.createreferencedeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.createreferencedeclass.RefactoringGuiHandler" id="CreateReferencedEClass" menulabel="create referenced EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.createsubeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.createsubeclass.RefactoringGuiHandler" id="CreateSubEClass" menulabel="create sub EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.addparameter.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.addparameter.RefactoringGuiHandler" id="AddParameter" menulabel="add EParameter with EClassifier type" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.createsupereclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.createsupereclass.RefactoringGuiHandler" id="CreateSuperEClass" menulabel="create super EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeemptyreferencedeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeemptyreferencedeclass.RefactoringGuiHandler" id="RemoveEmptyReferencedEClass" menulabel="remove empty referenced EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeemptysubeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeemptysubeclass.RefactoringGuiHandler" id="RemoveEmptySubEClass" menulabel="remove empty sub EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeemptysupereclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeemptysupereclass.RefactoringGuiHandler" id="RemoveEmptySuperEClass" menulabel="remove empty super EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeeparameter.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeeparameter.RefactoringGuiHandler" id="RemoveEParameter" menulabel="remove" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.moveeoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.moveeoperation.RefactoringGuiHandler" id="MoveEOperation" menulabel="move" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pushdowneattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pushdowneattribute.RefactoringGuiHandler" id="PushDownEAttribute" menulabel="push down" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pushdowneoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pushdowneoperation.RefactoringGuiHandler" id="PushDownEOperation" menulabel="push down" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pullupeattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pullupeattribute.RefactoringGuiHandler" id="PullUpEAttribute" menulabel="pull up" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pullupeoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pullupeoperation.RefactoringGuiHandler" id="PullUpEOperation" menulabel="pull up" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
</extension>
</plugin>
