<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.refactor.metrics">
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.a"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlpack.A"
            metric_context="Package"
            metric_description="Quota of abstract classes within the package (Abstractness)"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="A">
      </metric>
   </extension>
   
   <extension
         point="org.eclipse.emf.refactor.metrics">
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.nacm"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.NACM"
            metric_context="Model"
            metric_description="Number of all ancestors of all classes in the model"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="NACM">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.ana"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.ANA"
            metric_context="Model"
            metric_description="Average number of ancestors of all classes in the model"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="ANA">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.maxdit"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.MaxDIT"
            metric_context="Model"
            metric_description="Maximum of all depths of inheritance trees"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="MaxDIT">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.gevsc"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.GEvsC"
            metric_context="Model"
            metric_description="Ratio between number of inheritance relations and number of classes in the model"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="GEvsC">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.atvsc"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.ATvsC"
            metric_context="Model"
            metric_description="Ratio between number of owned attributes and number of classes in the model"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="ATvsC">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.opvsc"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.OPvsC"
            metric_context="Model"
            metric_description="Ratio between number of owned operations and number of classes in the model"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="OPvsC">
      </metric>
      <metric
            id="agvsc"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.AGvsC"
            metric_context="Model"
            metric_description="Ratio between number of aggregations and number of classes in the model"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="AGvsC">
      </metric>
      <metric
            id="asvsc"
            metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlmodel.ASvsC"
            metric_context="Model"
            metric_description="Ratio between number of associations and number of classes in the model"
            metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            metric_name="ASvsC">
      </metric>
   </extension>
   
   <extension
         point="org.eclipse.emf.refactor.metrics">
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.nfeac" 
			metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlcl.NFEAC" 
			metric_context="Class" 
			metric_description="Number of owned features within the class (attributes and operations)" 
			metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML" 
			metric_name="NFEAC">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.nasc" 
			metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlcl.NASC" 
			metric_context="Class" 
			metric_description="Number of association with other classes or itself" 
			metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML" 
			metric_name="NASC">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.nppac" 
			metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlcl.NPPAC" 
			metric_context="Class" 
			metric_description="Number of private and protected owned attributes" 
			metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML" 
			metric_name="NPPAC">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.nai" 
			metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlcl.NAI" 
			metric_context="Class" 
			metric_description="Number of owned attributes visible to subclasses (public and protected)" 
			metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML" 
			metric_name="NAI">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.dam" 
			metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlcl.DAM" 
			metric_context="Class" 
			metric_description="Ratio between number of private and protected owned attributes and number of owned attributes" 
			metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML" 
			metric_name="DAM">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.icpar" 
			metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlcl.ICPar" 
			metric_context="Class" 
			metric_description="Number of parameters within the class having another class or interface as type" 
			metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML" 
			metric_name="ICPar">
      </metric>
      <metric
            id="org.eclipse.emf.refactor.metrics.uml24.apoc" 
			metric_calculate_class="org.eclipse.emf.refactor.metrics.uml24.umlcl.APOC" 
			metric_context="Class" 
			metric_description="Average number of parameters in all owned operations within the class" 
			metric_metamodel="http://www.eclipse.org/uml2/4.0.0/UML" 
			metric_name="APOC">
      </metric>
   </extension>

</plugin>
