<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.refactorings">
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.moveeattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.moveeattribute.RefactoringGuiHandler" id="MoveEAttributeUsingHenshin" menulabel="move (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.pullupeattributeusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.pullupeattributeusinghenshin.RefactoringGuiHandler" id="PullUpEAttributeUsingHenshin" menulabel="pull up (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.pushdowneattributeusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.pushdowneattributeusinghenshin.RefactoringGuiHandler" id="PushDownEAttributeUsingHenshin" menulabel="push down (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.createreferencedeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.createreferencedeclassusinghenshin.RefactoringGuiHandler" id="CreateReferencedEClassUsingHenshin" menulabel="create referenced EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsubeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsubeclassusinghenshin.RefactoringGuiHandler" id="CreateSubEClassUsingHenshin" menulabel="create sub EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsupereclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsupereclassusinghenshin.RefactoringGuiHandler" id="CreateSuperEClassUsingHenshin" menulabel="create super EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.removeemptyreferencedeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.removeemptyreferencedeclassusinghenshin.RefactoringGuiHandler" id="RemoveEmptyReferencedEClassUsingHenshin" menulabel="remove empty referenced EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.removeemptysubeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.removeemptysubeclassusinghenshin.RefactoringGuiHandler" id="RemoveEmptySubEClassUsingHenshin" menulabel="remove empty sub EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.removeemptysupereclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.removeemptysupereclassusinghenshin.RefactoringGuiHandler" id="RemoveEmptySuperEClassUsingHenshin" menulabel="remove empty super EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameepackageusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameepackageusinghenshin.RefactoringGuiHandler" id="RenameEPackageUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeclassusinghenshin.RefactoringGuiHandler" id="RenameEClassUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameedatatypeusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameedatatypeusinghenshin.RefactoringGuiHandler" id="RenameEDataTypeUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeenumliteralusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeenumliteralusinghenshin.RefactoringGuiHandler" id="RenameEEnumLiteralUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeattributeusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeattributeusinghenshin.RefactoringGuiHandler" id="RenameEAttributeUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameereferenceusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameereferenceusinghenshin.RefactoringGuiHandler" id="RenameEReferenceUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
</extension>
</plugin>
